<nav class="navbar">
    <ul class="menu">
        <li><a href="#">Fight</a></li>
        <li><a href="#">Fighters List</a></li>
        <li><a href="#">Fights History</a></li>
        <li><a href="#">Credits</a></li>
    </ul>
</nav>