<nav class="navbar">
    <label>☰</label>
    <input type="checkbox" id="toggle">
    <div class="menu">
        <a href="#">Home</a>
        <a href="#">Fighters List</a>
        <a href="#">Fights History</a>
    </div>
</nav>