<nav class="navbar">
    <ul class="menu">
        <li><a class="menu-links" href="#">Fight</a></li>
        <li><a class="menu-links" href="#">Fighters List</a></li>
        <li><a class="menu-links" href="#">Fights History</a></li>
        <li><a class="menu-links" href="credits/credit">Credits</a></li>
    </ul>
</nav>