<nav class="navbar">
    <ul class="menu">
        <li><a class="menu-links" href="/fight">Fight</a></li>
        <li><a class="menu-links" href="/fighters">Fighters List</a></li>
        <li><a class="menu-links" href="/fights">Fights History</a></li>
        <li><a class="menu-links" href="credits/credit">Credits</a></li>
    </ul>
</nav>
