{% extends 'layout.html.twig' %}

{% block content %}
    <div class="home">
        <h1 class="home-title">Baker<br> Street<br> Fighter<br></h1>
    </div>
    <div class="navbarfighter">
        <img src="/assets/images/sherlock.png">
        {% include 'Item/navbar.html.twig' %}
        <img src="/assets/images/moriarty.png">
    </div>
{% endblock %}
