{% extends 'layout.html.twig' %}

{% block content %}
    <div class="home">
        <h1 class="home-title">Baker<br> Street<br> Fighter<br></h1>
    </div>
    {% include 'Item/navbar.html.twig' %}
{% endblock %}
