{% extends 'layout.html.twig' %}
{% block title %}BAKER STREET FIGHTER{% endblock %}

{% block content %}
    <div class="home">
        <h1 class="home-title">Baker<br> Street<br> Fighter<br></h1>
    </div>
    <div class="navbarfighter">
        <img class="img-home" src="/assets/images/sherlock.svg" alt="sherlock image">
        {% include 'Item/navbar.html.twig' %}
        <img class="img-home" src="/assets/images/moriarty.svg" alt="moriarty image">
    </div>
{% endblock %}
