{% extends 'layout.html.twig' %}

{% block content %}

<div class="credit">
    <h1 Class="creditTitle">Crédits</h1>
<ul>
    <li>Clément Moreaux</li>
    <li>Jordan Verreaux</li>
    <li>Bilal Amiche</li>
    <li>Antoine Lelacart</li>
    <li>Théo Drouet</li>
    <li>Robien Jonval</li>
</ul>
</div> 
{% endblock content %}
