{% extends 'layout.html.twig' %}

{% block content %}
{% include '/Item/return.html.twig'%}
<div class="credit">
    <h1 Class="creditTitle">Crédits</h1>
<ul>
    <li>Clément Moreaux</li>
    <li>Jordan Verreaux</li>
    <li>Bilal Amiche</li>
    <li>Antoine Leclabart</li>
    <li>Théo Drouet</li>
    <li>Robin Jonval</li>
</ul>
</div> 
{% endblock content %}
