{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Fighters' List</h1>
    <section class="card-deck">
        {% for fighter in fighters %}
            <figure class="card-fighter">
            <img
             class="card-img"
             src="/assets/images/{{fighter.name|lower}}.png"
            />
            <figcaption class="card-caption">
            <h2>{{fighter.name}}</h2>
            <p>Attack : {{fighter.attack}}</p>
            <p>Defence : {{fighter.defense}}</p>
            </figcaption>
            </figure>
        {% endfor %}
    </section>
{% endblock %}
