{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Fighters' List</h1>
    <ul>
        {% for fighter in fighters %}
            <li>{{fighter.name}} | {{fighter.attack}}  | {{fighter.defense}}</li>
            <img src="/assets/images/{{fighter.name|lower}}.png">
        {% endfor %}
    </ul>
{% endblock %}
