{# TODO : manage errors display #}

<form method="post">
	<input type="hidden" value="{{ fight.id }}" name="id">
	<input type="date" value="{{ fight.date }}" name="date">
	<input type="integer" value="{{ fight.winner }}" name="winner">
	<input type="submit" value="Valider">
</form>
