{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Fights History</h1>
    <section class="fightsTable">
        <table class="fightHistory">
            <thead>
                <tr>
                    <th>Fight Date</th>
                    <th>Winner</th>
                </tr>
            </thead>
            <tbody>
            {% for fight in fights %}
             <tr>
                <td>{{ fight.date }}</td>
                <td>{{ fight.name }}</td>
             </tr
            {% endfor %}
            </tbody>
        </table>
    </section>    
{% endblock %}
