{% extends 'layout.html.twig' %}
{% block title %}FIGHTS HISTORY{% endblock %}

{% block content %}
{% include '/Item/return.html.twig'%}
    <h1 class="fightsHistoryTitle">Fights History</h1>
    <section class="fightsTable">
        <table class="fightHistory">
            <thead class="tableHead">
                <tr>
                    <th>Fight Date</th>
                    <th>Winner</th>
                </tr>
            </thead>
            <tbody>
            {% for fight in fights %}
             <tr>
                <td class="dateWinner">{{ fight.date }}</td>
                <td class="nameWinner">{{ fight.name }}</td>
             </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>    
{% endblock %}
